<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects"> 
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies> 
        <add assembly="Telerik.Reporting, Version=9.1.15.731, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE"/>
        <add assembly="Telerik.ReportViewer.WebForms, Version=9.1.15.731, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE"/>
        <add assembly="Telerik.ReportViewer.Html5.WebForms, Version=9.1.15.731, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies> 
    </compilation>
    <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0"/>
    <sessionState timeout="60"/>
    <!--<customErrors mode="On" defaultRedirect="~/ErrorPage/Oops.aspx">
        <error statusCode="404" redirect="~/Pages/Oops.aspx"/>
        <error statusCode="500" redirect="~/Pages/Oops.aspx"/>
      </customErrors>-->
  </system.web>
  <connectionStrings>
    <add name="connection" connectionString="Data Source=localhost;Initial Catalog=TrackDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="Telerik.ReportViewer.axd_*" path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=9.1.15.731, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
</configuration>
